/* Survey page styles */

.photo{
  width: 60%;
  padding: 10px;
}

form {
  margin: 0 auto;
  text-align: left;
  display: inline-block;
}

.container{
  text-align: center;
}
.newsletter{
  text-align: right;

}

input[type="text"], input[type="email"], select, textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #fff;
  border: none;
  height: auto;
  outline: 0;
  height: 40px;
  width: 100%;
  border-radius: 4px;
  padding-left: 6px;
  font-size: 1em;
  color: #2d2b30;
}

form p {
  text-align: left;
}

button {
  width: 100%;
  height: 40px;
  border-radius: 4px;
}

select {
  background: url("../img/arrow.png") no-repeat 95%;
  background-color: #fff;
}

textarea {
  height: 60px;
}

input[type="text"]:focus, input[type="email"]:focus, select:focus, textarea:focus {
  border: #FFD059 3px solid;
}

input[type='radio'] {
  -webkit-appearance:none;
  -moz-appearance: none;
  display: none;
}

label.radio:before {
  content:'';
  display:inline-block;
  vertical-align: middle;
  width:15px;
  height:15px;
  font-size:1rem;
  font-weight:bold;
  text-align: center;
  color:transparent;
  border: none;
  background-color:#eff0f1;
  margin: 0 5px 0 0;
  border-radius: 100%;
}

input[type='radio']:checked + label.radio:before {
  box-shadow: inset 0px 0px 0px 3px #eff0f1;
  border: 2px solid #d3d3d3;
  background-color: #FFD059;
}


fieldset {
  border: none;
}

legend {
  color: #fff;
  text-align: center;
  font-size: 1.5em;
}


/* Styles for larger screens */
@media screen and (min-width: 840px) {
  .photo{
    width: 40%;
  }
}