
.heading{
  display: inline-block;
  margin: 0;
}

.pick{
  width: 40px;
  height: 0%;
  padding: 10px;
}

table {
	border-collapse: collapse;
	border-spacing: 0.5rem;
	font-size:0.7em;
}
 th, td {
   border: 1px solid #ffd;
   padding:0.5em 1em;
}